.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 25px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  background-color: #ffffff;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}
.find-badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.find-badge__inner {
  display: flex;
  position: relative;
}
.find-badge__inner .badge-circle {
  position: absolute;
  top: -7px;
  left: -2px;
}
